.EmotionItem {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EmotionItem > img {
  width: 60%;
  margin-bottom: 10px;
}

.EmotionItem_on_1 {
  color: white;
  background-color: #ffc77f;
}
.EmotionItem_on_2 {
  color: white;
  background-color: #ffd97a;
}
.EmotionItem_on_3 {
  color: white;
  background-color: #5ed292;
}
.EmotionItem_on_4 {
  color: white;
  background-color: #d7b5e5;
}
.EmotionItem_on_5 {
  color: white;
  background-color: #ff6f85;
}
